/* For paragraph spacing */
.post-content p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  /* For headers inside the content */
  .post-content h1,
  .post-content h2,
  .post-content h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  /* For links */
  .post-content a {
    color: #1d72b8;
    text-decoration: underline;
  }

  .post-content hr, .post-content ul, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin-bottom: 1rem;
  }
  
  .post-content a:hover {
    color: #0c4a6e;
  }
  
  /* For lists */
  .post-content ul,
  .post-content ol {
    margin-left: 2rem;
  }
  
  .post-content li {
    margin-bottom: 0.5rem;
  }
  